body {
  background-color: black;
}

/* Main Game */

table {
  margin: 0 auto;
  color: #fafafa;
}

td {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.outside-aim {
  margin: 0 auto;
  height: 40px;
  width: 40px;
  border: 1px solid #999999;
  background-color: #252e3d;
  text-align: center;
  line-height: 40px;
}

.outside-sum {
  margin: 0 auto;
  height: 40px;
  width: 40px;
  border: 1px solid #999999;
  background-color: #455775;
  text-align: center;
  line-height: 40px;
}

.outside-solved {
  border-color: #ff8c4f;
  color: #ff8c4f;
}

.inside {
  margin: 0 auto;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  border: 1px solid #0043b5;
  background-color: #0043b5;
  text-align: center;
  line-height: 40px;
}

.inside-deselect {
  border-color: #999999;
  background-color: #252e3d;
  color: #999999;
}







.inside-highlight {

}
